.main{
    background:url("/assets/sec.jpg");
   height: 100%;
   background-position: center;
   background-size: cover;
   object-fit: cover; 
   background-repeat: no-repeat;
   position: sticky; 
 }
 