<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid main ">
        <div class="row justify-content-center align-items-center">
            <div class=" col-12 col-md-5 mt-3 mb-3 p-4  "
                style=" border-radius:15px; border :1px solid black ;background-color:rgba(0, 0, 0,0.5);">

                <div class="row justify-content-center text-light">
                    <h1>REGISTER NOW </h1>
                </div>

                <form action="#" target="_blank" method="post">
                    <div class="form-group">
                        <label for="name" class="form-text text-light">Name :</label>
                        <input type="text" class="form-control rounded-pill" placeholder="Enter Full Name" id="nameid"
                            autofocus>
                    </div>

                    <div class="form-group">
                        <label for="userEmail" class="form-text text-light">Email :</label>
                        <input type="email" class="form-control rounded-pill" placeholder="Enter Email" id="userEmail"
                            required autofocus pattern="[a-z|0-9|@].{3,12}">
                    </div>
                    <div class="form-group">
                        <label for="userPass" class="form-text text-light">Password :</label>
                        <input type="password" class="form-control rounded-pill" placeholder="Enter password" required
                            id="userPass" pattern="[A-Z|a-z](?=.*?[@]).{5,12}">
                    </div>
                    <div class="form-group">
                        <label for="conPass" class="form-text text-light">Confirm Password :</label>
                        <input type="password" class="form-control rounded-pill" placeholder="Re-enter the Password"
                            required id="conPass" required pattern="[A-Z|a-z](?=.*?[@]).{5,12}">
                    </div>
                    <div class="form-group">
                        <label for="phNumber" class="form-text text-light">Phone Number :</label>
                        <input type="tel" class="form-control rounded-pill" placeholder="+91-XXXXXXXXXX" required
                            id="phNumber">
                    </div>

                    <div class="form-group d-flex justify-content-center align-items-center text-light">
                        <button type="submit" class="btn btn-md btn-danger mt-3">SUBMIT</button>
                    </div>

                </form>
                <div class="hint-text" style="color:white; text-align: center;">Already have an account? <a href="#"
                        style="color: white;">Login here</a></div>
            </div>
        </div>
    </div>

</body>

</html>