<body>
    <div class="container-fluid">
        <div class="row d-flex flex-column justify-content-center align-items-center" style="height:100vh">
            <div class="row">
                <div class="col-3 number">404</div>
            </div>
            <div class="row">
                <div class="row text">Page not found</div>
            </div>
            <div class="row">
                <button class="btn btn-info text-light mt-5" (click)="gotoLogin('/login')">Back to Home</button>
            </div>

        </div>

    </div>

</body>